[PARAM]
#Simulation name
sim_name=test
#Forcing path with name
frc_path=./test_frc.nc
#initial condition [kg / m^2]
B0=100
#Maximum growth rate [1/s]
#max growth rate of ~0.2 [1/d] from Frieder et al. 2022
#Gmax =2.31e-6
Gmax = 2.31e-7
#Loss rate [1/s]
#0.1 / 86400. #frond loss rate of 0.1 [1/d] from Frieder et al. 2022
#L0 = 1.157e-6
L0=0.
#Time-step [seconds]
dt=86400.
#Length of run [days]; code converts to seconds
tend=360
#Michaelis-Menten factor [mmol N / m^2]
Kno3=10.